*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif
}
body {
    height :100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background : rgba(66, 59, 56, 0.913)
}

.card {
    background: rgba(252, 252, 252, 0.945);
    width: 320px;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 4px solid hsl(32, 38%, 29%);
}

.card h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #7c7866;
    color: rgba(232, 228, 217, 0.963);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    margin: 0 auto 15px;
}

.role {
    color: #666;
    font-size: 14px;
    margin-bottom: 15px;
}

.bio {
    font-size: 14px;
    color: #444;
    margin-bottom: 20px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin-bottom: 20px;
}

.skills span {
    background: #f1f1f1;
    padding: 6px 10px;
    border-radius: 20px;
    font-size: 12px;
}

.btn {
    display:flow-root;
    text-decoration: none;
    background: #785757;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 14px;
    transition: background 0.3s;
}

.btn:hover {
    background: #ffd1b6;
}
